body {
  background: #4a6741;
}
p {
  color: #ffd8aa;
}
h1 {
  font-weight: bold;
  color: rgb(255, 255, 255);
}
h3 {
  color: #ff8800;
  float:righ
}
li {
  color: #ffd8aa;
}
h4 {
  color: #ff8800;
}
img {
  float: right;
  width:  1390px;
}
